{
  "root": true,
  "env": {
    "es6": true,
    "browser": true
  },

  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "."
        ],
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  },
  "rules": {
    "react/static-property-placement": "off",
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off",
    "react/no-unused-state": "off",
    "react/destructuring-assignment": "off",
    "react/prop-types": "off",
    "comma-dangle": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "max-len": "off",
    "arrow-parens": "off",
    "react/jsx-indent": "off",
    "prefer-template": "off",
    "prefer-destructuring": "off",
    "no-console": "off",
    "no-plusplus": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off"
  }
}
